.card-container {
  width: 225px;
  height: 256px;
  background-color: hsl(var(--card));
  border-radius: 16px;
  padding: 10px;
  border: 0.5px solid #838896;
  transition: 0.3s;
  align-items: center;
}

.card-container button {
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 8px;
  background-color: #26272b;
  color: white;
  cursor: pointer;
  text-align: center; /* Alinha o texto horizontalmente ao centro */
}

.card-container:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  border: #8162ff solid 1px;
}

.info-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0px;
  padding: 0px;
}
.info-container h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0px;
  padding: 0px;
}

.barbershop-address {
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  font: bold;
  color: #838896;
}

.reservation-button {
  width: 196px;
  height: 36px;
  border: none;
  border-radius: 8px;
  background-color: #26272b;
  color: white;
  cursor: pointer;
  text-align: center; /* Alinha o texto horizontalmente ao centro */
}

.reservation-button:hover {
  background-color: #8162ff;
}

.star-icon,
.star-value {
  position: absolute; /* Torna os elementos absolutos para posicioná-los na frente da imagem */
}

.star-icon {
  fill: #8162ff;
  color: #8162ff;
}

.star-value {
  right: 16px; /* Posiciona o valor da estrela à direita do container */
  font-weight: bold;
}

.badge {
  margin-top: 5px;
  margin-left: 5px;
  width: 70px;
  height: 24px;
  position: absolute;
  opacity: 0.9;
  border-radius: 16px;
}

.badge-cont {
  display: flex;
  align-items: center;
}

.barber-logo img {
  max-width: 100%; /* Define a largura máxima da imagem como 100% do contêiner pai */
  max-height: 135px; /* Permite que a altura seja ajustada automaticamente para manter a proporção */
  border-radius: 10px;
}
.image-container {
  max-width: 100%; /* Define a largura máxima do contêiner da imagem */
  height: auto; /* Permite que a altura seja ajustada automaticamente para manter a proporção */
  border-radius: 10px;
  overflow: hidden; /* Evita que a imagem se expanda além do contêiner */
  display: flex; /* Usa flexbox para centralizar a imagem */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}
