.card-container {
  width: 225px;
  height: auto;
  background-color: hsl(var(--card));
  border-radius: 16px;
  padding: 10px;
  border: 0.5px solid #838896;
}
.info-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 2px;
}
.barbershop-address {
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  font: bold;
  color: #838896;
}

.reservation-button {
  width: 196px;
  height: 36px;
  gap: 8px;
  border: none;
  border-radius: 8px;
  background-color: #26272b;
  color: white;
  cursor: pointer;
  text-align: center; /* Alinha o texto horizontalmente ao centro */
}

.reservation-button:hover {
  background-color: #8162ff;
}

